<header>
  <div class="container">
  <a href="http://themeforest.net/" class="marketplace"><img alt="ThemeForest" src="./Bootstrap Templates   ThemeForest_files/logo-dark-8e9f520f0a87ee3b0d94dd0fdd289e59.png" title="ThemeForest"></a>
  <div class="account-wrapper">
    <ul id="user-account-nav">
          <li class="">
            <a href="#"><span>创建一个帐号</span></a>
          </li>
        <li>
          <a href="#" rel="nofollow">登录</a>
        </li>
    </ul>
  </div>

  <ul class="info-nav">
    <li><a href="#">Make Money</a>
      <div class="dropdown">
        <ul>
          <li><a href="#">Become an Author</a></li>
        </ul>
      </div>
    </li>
  </ul>
  </div> <!-- end .container -->
</header> <!-- end role main header -->