<nav role="navigation" class="clearfix">
  <ul class="main-nav">
    <li>
      <a href="http://themeforest.net/category/all">All Files</a>
      <div class="dropdown">
        <ul>
          <li><a href="http://themeforest.net/page/top_sellers">Popular Files</a></li>
          <li><a href="http://themeforest.net/author/top_authors">Top Authors</a></li>
          <li><a href="http://themeforest.net/page/top_new_sellers">Top New Authors</a></li>
        </ul>
      </div>
    </li>
        
    <li class="search-container">
      <form accept-charset="UTF-8" action="http://themeforest.net/search" id="search" method="get">
        <div style="margin:0;padding:0;display:inline">
        <input name="utf8" type="hidden" value="✓"></div>
        <input autocomplete="off" id="term" name="term" placeholder="Start Searching …" type="text" value="">
        <button type="submit" class="image-button search no-margin">Search</button>
      </form>
    </li>
  </ul>
</nav>