<nav role="navigation" class="clearfix">
  <ul class="main-nav">
    <li class="nav">
      <a href="http://themeforest.net/" class="first">首页</a> \ <a href="http://themeforest.net/collections">Python</a> \
    </li>
    <li class="search-container">
      <form accept-charset="UTF-8" action="#" id="search" method="get">
        <div style="margin:0;padding:0;display:inline">
        <input name="utf8" type="hidden" value="✓"></div>
        <input autocomplete="off" id="term" name="term" placeholder="Start Searching …" type="text" value="">
        <button type="submit" class="image-button search no-margin">Search</button>
      </form>
    </li>
  </ul>
</nav>