{% extends "/layout/base.html" %}
{% block title %}{{ topic.title }} - {{ category.name }}{% endblock %}
{% block content %}
<div class="row">
  <div class="span8">
    <div class="conl basediv">
      <ul class="breadcrumb">
      <li><a href="/">首页</a> <span class="divider">/</span></li>
      <li><a href="/category/{{ category.id }}">{{ category.name }}</a></li>
      </ul>
      <h4><a href="/topic/{{ topic.id }}">{{ topic.title }}</a></h4>
      <p class="muted">
        <small class="text-sd">分类：<a href="/category/{{ topic.category_id }}">{{ category.name }}</a></small>
        <small class="text-sd">浏览：{{ count.views }}</small>
        <small class="text-sd">回复：{{ count.reply_num }}</small>
        <small class="text-sd">发布：{{ topic.created_at }}</small></p>
      <p>{{ topic.content | safe }}</p>
      <p><i class="icon-tags"></i><a href="#">python</a></p>
    </div>  
  </div>
  <div class="span4">
    <div class="conr basediv">
      <div class="titleBar">
        <h4>分享</h4>
      </div>
      <!-- JiaThis Button BEGIN -->
      <div class="jiathis_style">
        <span class="jiathis_txt">分享到：</span>
        <a class="jiathis_button_tools_1"></a>
        <a class="jiathis_button_tools_2"></a>
        <a class="jiathis_button_tools_3"></a>
        <a class="jiathis_button_tools_4"></a>
        <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" target="_blank">更多</a>
        <a class="jiathis_counter_style"></a>
      </div>
      <!-- JiaThis Button END -->
    </div>
  </div>
</div>
{% endblock%}
{% block js %}
<script type="text/javascript" src="http://v3.jiathis.com/code_mini/jia.js?uid=1364464002204740" charset="utf-8"></script>
{% endblock js%}