{% extends '/layout/base.html' %}
{% block css %}<link href="/static/css/user.css" rel="stylesheet">{% endblock %}
{% block content %}
<form class="form-signin">
  <h2 class="form-signin-heading">登录</h2>
  <input type="text" class="input-block-level" placeholder="Email address">
  <input type="password" class="input-block-level" placeholder="Password">
  <label class="checkbox">
    <input type="checkbox" value="remember-me">记住我
  </label>
  <button class="btn btn-large btn-primary" type="submit">登录</button>
</form>
{% endblock %}