{% extends '/layout/base.html' %}
{% block title %}登录{% endblock %}
{% block css %}<link href="/static/css/user.css" rel="stylesheet">{% endblock %}
{% block content %}
<form class="form-signin" method="post" action="/user/login">
  <h2 class="form-signin-heading">登录</h2>
  {{ loginform.csrf_token }}
  {{ loginform.email(placeholder='Email address',class='input-block-level') }}
  {% if loginform.errors.email %}{{ loginform.errors.email[0] }}{% endif %}
  {{ loginform.password(placeholder='Password',class='input-block-level') }}
  {% if loginform.errors.password %}{{ loginform.errors.password[0] }}{% endif %}
  <label class="checkbox">
    <input type="checkbox" value="remember-me" name="rememberme">记住我
  </label>
  <button class="btn btn-large btn-primary" type="submit">登录</button>
</form>
{% endblock %}