body{
	background: none repeat scroll 0 0 #EDEFF5;
}

.conl{
    min-height: 800px;
    padding: 10px 10px 20px 20px;
}

.conr{
	padding: 10px 10px 20px 20px;
	margin-bottom: 20px;
}

.basediv{
	border-radius: 2px 2px 2px 2px;
	background: none repeat scroll 0 0 #FFFFFF;
	box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.1);	
}

.titleBar h4 {
    border-bottom: 2px solid #F73E3E;
    bottom: -2px;
    float: left;
    font: 20px/1.2 微软雅黑,黑体;
    padding-bottom: 9px;
    padding-right: 28px;
    position: relative;
    white-space: nowrap;
}