{% extends "/layout/base.html" %}
{% block content %}
<div class="row">
	<div class="span8">
	  <div class="conl basediv">
	    <h3><a href="">关于本博客</a></h3>
	    	<p>本博客是我的第一个python小项目，本着练习的目的，现代码已经共享在git上面，肯定有很多bug与不足。我会一直完善到它成为一个完整的blog程序。</P>
	    	<div class="media">
			    <div class="media-body">
				    <h4 class="media-heading">git</h4>
				    <a href="https://github.com/fainle/sae_python_blog.git" target="_blank">https://github.com/fainle/sae_python_blog.git</a> 
				    <!-- Nested media object -->
				</div>
			</div>	
	    		
            <div class="media">
			    <div class="media-body">
				    <h4 class="media-heading">平台</h4>
				    <a href="http://sae.sina.com.cn" target="_blank">SAE Python</a> 
				    <!-- Nested media object -->
				</div>
			</div>

			<div class="media">
			    <div class="media-body">
				    <h4 class="media-heading">使用的框架和组件</h4>
				    <a href="https://dormousehole.readthedocs.org/en/latest/index.html" target="_blank">Flask</a> 
				    <!-- Nested media object -->
				</div>
			</div>
	  </div>  
	</div>
	<div class="span4">
		{% include "/sites/_right.html" %}
	</div>
</div>
{% endblock%}