{% extends "/layout/base.html" %}
{% block content %}
<div class="row">
	<div class="span8">
	  <div class="conl basediv">
	    <h3><a href="">关于本博客</a></h3>
	    	<p>本博客是我的第一个python小项目，本着练习的目的，现代码已经共享在git上面，肯定有很多bug与不足。我会一直完善到它成为一个完整的blog程序。</P>
	    	<div class="media">
			    <div class="media-body">
				    <h4 class="media-heading">git</h4>
				    <a href="https://github.com/fainle/sae_python_blog.git" target="_blank">https://github.com/fainle/sae_python_blog.git</a> 
				    <!-- Nested media object -->
				</div>
			</div>	
	    		
            <div class="media">
			    <div class="media-body">
				    <h4 class="media-heading">平台</h4>
				    <a href="http://sae.sina.com.cn" target="_blank">SAE Python</a> 
				    <!-- Nested media object -->
				</div>
			</div>

			<div class="media">
			    <div class="media-body">
				    <h4 class="media-heading">使用的框架和组件</h4>
				    <a href="https://dormousehole.readthedocs.org/en/latest/index.html" target="_blank">Flask</a> 
				    <p>Flask 是一个用于 Python 的微网络开发框架。</p>
				    <a href="http://wtforms.simplecodes.com/docs/1.0.3/">WTForms</a> 
				    <p>WTForms 是一个 Python 表单验证、渲染开发包</p>
				    <a href="http://pythonhosted.org/Flask-WTF/" target="_blank">Flask-wtf</a> 
				    <p>Flask-WTF offers simple integration with WTForms. This integration includes optional CSRF handling for greater security.</p>
				    <a href="http://jinja.pocoo.org/docs/templates/" target="_blank">Jinja2</a> 
				    <p>Jinjia2 是一个基于python的模板引擎</p>
				    <a href="http://werkzeug.pocoo.org/docs/" target="_blank">werkzeug</a> 
				    <p>Werkzeug WSGI 套件</p>
				    <a href="http://www.sqlalchemy.org/" target="_blank">SQLAlchemy</a> 
				    <p>SQLAlchemy 是一个常用的数据库抽象层</p>
				    <a href="http://twitter.github.io/bootstrap/index.html" target="_blank">Bootstrap</a> 
				    <p>Bootstrap是Twitter推出的一个用于前端开发的开源工具包。</p>
				    <a href="http://jquery.com/" target="_blank">Jquery</a> 
				    <p>jQuery是一个强大的JavaScript库</p>
				    <a href="http://markitup.jaysalvat.com/downloads/" target="_blank">markitup</a> 
				    <p>markitup 是一个基于jquery的html编辑器</p>
				</div>
			</div>
	  </div>  
	</div>
	<div class="span4">
		{% include "/sites/_right.html" %}
	</div>
</div>
{% endblock%}