{% extends "/layout/base.html" %}
{% block content %}
<div class="row">
  <div class="span8">
    <div class="conl basediv">
      <h3><a href="">本机定时自动更新svn</a></h3>
      <p>背景
        因为本机是linux系统,在小组开发的时候作为了测试服务器,经常忘记更新svn,影响了其它小组成员测试.于是写了一个每5分钟自动更新的脚本.
        过程
        首先创立一个log目录,用于存放日记文件
      </p>
      <p><a class="btn" href="#">View details &raquo;</a></p>

    </div>  
  </div>
  <div class="span4">

    <div class="conr basediv">
      <div class="titleBar">
        <h4>最新文章</h4>
      </div>
      <ul class="unstyled">
        <li><a href="">本机定时自动更新svn</a></li>
        <li><a href="">ubuntu 解决firefox flash 乱码问题</a></li>
        <li><a href="">linux 安装php amqp扩展</a></li>
        <li><a href="">pymemcompat.h:10:20: 致命错误： Python.h：没有那个文件或目录 解决方案</a></li>
        <li><a href="">安装Mysql-python 的时候出现mysql_config not found解决方案</a></li>
        <li><a href="">本机定时自动更新svn</a></li>
        <li><a href="">ubuntu 解决firefox flash 乱码问题</a></li>
        <li><a href="">linux 安装php amqp扩展</a></li>
        <li><a href="">pymemcompat.h:10:20: 致命错误： Python.h：没有那个文件或目录 解决方案</a></li>
        <li><a href="">安装Mysql-python 的时候出现mysql_config not found解决方案</a></li>
      </ul>
    </div>

    <div class="conr basediv">
      <div class="titleBar">
        <h4>文章归档</h4>
      </div>
      <ul>
        <li><a href="">2013 年二月</a></li>
        <li><a href="">2013 年二月</a></li>
        <li><a href="">2013 年二月</a></li>
        <li><a href="">2013 年二月</a></li>
        <li><a href="">2013 年二月</a></li>
      </ul>
    </div>
  </div>
</div>
{% endblock%}