{% extends "/layout/base.html" %}
{% block content %}
<div class="row">
  <div class="span8">
    <div class="conl basediv">
      {% for t in topic%}
      <h4><a href="">{{ t.title }}</a></h4>
      <p>{{ t.content }}</p>
      <p><a class="btn" href="#">查看</a></p>
      {% endfor %}
    </div>  
  </div>
  <div class="span4">

    <div class="conr basediv">
      <div class="titleBar">
        <h4>最新文章</h4>
      </div>
      <ul class="unstyled">
        <li><a href="">本机定时自动更新svn</a></li>
        <li><a href="">ubuntu 解决firefox flash 乱码问题</a></li>
        <li><a href="">linux 安装php amqp扩展</a></li>
        <li><a href="">pymemcompat.h:10:20: 致命错误： Python.h：没有那个文件或目录 解决方案</a></li>
        <li><a href="">安装Mysql-python 的时候出现mysql_config not found解决方案</a></li>
        <li><a href="">本机定时自动更新svn</a></li>
        <li><a href="">ubuntu 解决firefox flash 乱码问题</a></li>
        <li><a href="">linux 安装php amqp扩展</a></li>
        <li><a href="">pymemcompat.h:10:20: 致命错误： Python.h：没有那个文件或目录 解决方案</a></li>
        <li><a href="">安装Mysql-python 的时候出现mysql_config not found解决方案</a></li>
      </ul>
    </div>

    <div class="conr basediv">
      <div class="titleBar">
        <h4>文章归档</h4>
      </div>
      <ul>
        <li><a href="">2013 年二月</a></li>
        <li><a href="">2013 年二月</a></li>
        <li><a href="">2013 年二月</a></li>
        <li><a href="">2013 年二月</a></li>
        <li><a href="">2013 年二月</a></li>
      </ul>
    </div>
  </div>
</div>
{% endblock%}