<div class="span4">
    <div class="conr basediv">
      <div class="titleBar">
        <h4>文章管理</h4>
      </div>
      <ul class="unstyled nav nav-pills nav-stacked">
        <li class="active"><a href="/admin/topic/category">分类管理</a></li>
        <li><a href="">文章管理</a></li>
      </ul>
    </div>

    <div class="conr basediv">
      <div class="titleBar">
        <h4>用户管理</h4>
      </div>
      <ul>
        <li><a href="">2013 年二月</a></li>
        <li><a href="">2013 年二月</a></li>
        <li><a href="">2013 年二月</a></li>
        <li><a href="">2013 年二月</a></li>
        <li><a href="">2013 年二月</a></li>
      </ul>
    </div>
  </div>