{% extends '/layout/base.html' %}
{% block title %}管理{% endblock %}
{% block css %}<link href="/static/css/user.css" rel="stylesheet">{% endblock %}
{% block content %}
<div class="row">
  <div class="span8">
    <div class="conl basediv">
      <h3>添加文章</h3>
      <form class="form" id="categoryForm">
			{{ topic_form.csrf_token }}
			<div class="control">
				<div class="controls">
				{{ topic_form.title }}
				<span class="help-inline error" id="inputWarning"></span>
				</div>
			</div>
			<div class="control">
				<div class="controls">
				{{ topic_form.content }}
				<span class="help-inline error" id="inputWarning"></span>
				</div>
			</div>
			<div class="control">
				<div class="controls">
				{{ topic_form.priority }}
				<span class="help-inline error" id="inputWarning"></span>
				</div>
			</div>
		</form>
    </div>  
  </div>
  {% include '/admin/_right.html' %}
</div>
{% endblock %}
{% block js %}
	<script src="/static/js/topic/category.js"></script>
{% endblock js%}