{% extends '/layout/base.html' %}
{% block title %}管理{% endblock %}
{% block css %}<link rel="stylesheet" type="text/css" href="/static/markitup/skins/default/styles.css" />
<link rel="stylesheet" type="text/css" href="/static/markitup/sets/html/styles.css" />{% endblock %}
{% block content %}
<div class="row">
  <div class="span8">
    <div class="conl basediv">
      <h3>添加文章</h3>
      <form class="form" id="categoryForm">
			{{ topic_form.csrf_token }}
			<div class="control">
				<div class="controls">
				{{ topic_form.title(placeholder="标题")}}
				<span class="help-inline error" id="inputWarning"></span>
				</div>
			</div>
			<div class="control">
				<div class="controls">
				{{ topic_form.content(rows="20",cols="80") }}
				<span class="help-inline error" id="inputWarning"></span>
				</div>
			</div>
			<div class="control">
				<div class="controls">
				{{ topic_form.priority(placeholder="权重") }}
				<span class="help-inline error" id="inputWarning"></span>
				</div>
			</div>
		</form>
    </div>  
  </div>
  {% include '/admin/_right.html' %}
</div>
{% endblock %}
{% block js %}
	<script src="/static/js/topic/topic.js"></script>
	<script src="/static/markitup/jquery.markitup.js"></script>
	<script src="/static/markitup/sets/html/set.js"></script>
{% endblock js%}