{% extends '/layout/base.html' %}
{% block title %}管理{% endblock %}
{% block css %}<link rel="stylesheet" type="text/css" href="/static/markitup/skins/markitup/style.css" />
<link rel="stylesheet" type="text/css" href="/static/markitup/sets/default/style.css" />{% endblock %}
{% block content %}
<div class="row">
  <div class="span8">
    <div class="conl basediv">
      <h3>添加文章</h3>
      <form class="form" id="categoryForm" method="post" action="">
			{{ topic_form.csrf_token }}
			<div class="control {% if topic_form.errors.content %}error{% endif %}">
				<div class="controls">
				{{ topic_form.title(placeholder="标题")}}
				</div>
			</div>
			<div class="control {% if topic_form.errors.content %}error{% endif %}">
				<div class="controls">
				{{ topic_form.content(id="markItUp",rows="20",cols="80") }}
				</div>
			</div>
			<div class="control">
				<div class="controls">
				{{ topic_form.category_id(placeholder="分类")}}
				<span class="help-inline error" id="inputWarning"></span>
				</div>
			</div>
			<div class="control">
				<div class="controls">
				{{ topic_form.tag(placeholder="tag")}}
				<span class="help-inline error" id="inputWarning"></span>
				</div>
			</div>
			<div class="control">
				<div class="controls">
				<button class="btn btn-primary" id="doSave">确定</button>
				</div>
			</div>
		</form>
    </div>  
  </div>
  {% include '/admin/_right.html' %}
</div>
{% endblock %}
{% block js %}
	<script src="/static/markitup/jquery.markitup.js"></script>
	<script src="/static/markitup/sets/default/set.js"></script>
	<script type="text/javascript">
		$(function() {
			$('#markItUp').markItUp(mySettings);
		});
</script>
{% endblock js%}
