{% extends '/layout/base.html' %}
{% block title %}管理{% endblock %}
{% block css %}<link href="/static/css/user.css" rel="stylesheet">{% endblock %}
{% block content %}
<div class="row">
  <div class="span8">
    <div class="conl basediv">
      <h3>分类设置</h3>
      <p><a href="#categoryModal" data-toggle="modal">添加分类</a></p>
    </div>  
  </div>
  {% include '/admin/_right.html' %}
  <!---->
  <!-- Modal -->
  <div id="categoryModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="myModalLabel">分类设置</h3>
	</div>
	<div class="modal-body">
		<form>
			{{ category_form.csrf_token }}
			{{ category_form.id }}
		</form>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
		<button class="btn btn-primary" id="doSave">Save changes</button>
	</div>
  </div>
  <!--/Modal-->
</div>
{% endblock %}