<!doctype html>
<html>
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   <meta name="keywords" content="" />
   <meta name="description" content="" />
   <title>fainle bolg</title>
   <link rel="stylesheet" href="/static/main.css" />

</head>
<body data-log="page_notify" class="notify">
   <div class="wrapper">
      <div id="header" class="header">
         <div class="header-inner">
            <h1 class="header-logo">
               <a href="/home">花田_网聚优质单身男女</a>
            </h1>
            <ul data-log="navi" class="header-navi">
               <li>
                  <a href="/home">首页</a>
               </li>
               <li>
                  <a href="/5561573">个人主页</a>
               </li>
               <li>
                  <a href="/search/user">搜索</a>
               </li>
            </ul>
            <div id="publishArea" class="header-publish-btn">
               <a id="publishButton" class="icon-publish" href="javascript:;"></a>
               <div class="header-publish-layer"> <em class="header-publish-layer-arrow"></em> <em class="header-publish-layer-arrow2"></em>
                  <a class="header-publish-btn-photo upload-photo-trigger" href="javascript:;">
                     <em class="icon-upload-photo"></em>
                     <br />
                     上传照片
                  </a>
                  <a class="header-publish-btn-letter upload-letter-trigger" href="javascript:;">
                     <em class="icon-upload-letter"></em>
                     <br />
                     文字传情
                  </a>
               </div>
            </div>
            <div class="header-app">
               <a class="header-app-btn" href="/app" target="_blank" title="手机客户端下载">
                  <em class="icon-header-app"></em>
                  <span class="header-app-btn-line"></span>
               </a>
            </div>
            <div class="header-info js-header-info">
               <div id="newMessage" class="header-info-mess js-info-mess">
                  <span class="header-info-title js-title">
                     <em class="icon-header-mess"></em>
                  </span>
                  <div class="header-info-list">
                     <ul>
                        <li class="js-message">
                           <a href="/messages">
                              <em class="js-item">0</em>
                              <span>查看私信</span>
                           </a>
                        </li>
                        <li class="js-digg">
                           <a href="/messages/like">
                              <em class="js-item">0</em>
                              <span>新增“赞”</span>
                           </a>
                        </li>
                        <li class="js-heed">
                           <a href="/messages/followers">
                              <em class="js-item">0</em>
                              <span>新增收藏</span>
                           </a>
                        </li>
                        <li class="js-admin">
                           <a href="/messages/dm/1398972104992685069">
                              <em class="js-item">0</em>
                              <span>系统通知</span>
                           </a>
                        </li>
                        <li class="line"></li>
                        <li class="js-all">
                           <a href="/messages">
                              <span>查看全部消息</span>
                           </a>
                        </li>
                     </ul>
                  </div>
               </div>
               <span class="header-info-line"></span>
               <div class="header-info-user js-info-user">
                  <span class="header-info-title">
                     <em class="icon-header-user"></em>
                  </span>
                  <div class="header-info-list header-info-setting-list">
                     <ul>
                        <li>
                           <a href="/settings/password">
                              <span>修改密码</span>
                           </a>
                        </li>
                        <li class="line"></li>
                        <li>
                           <a href="http://reg.163.com/Logout.jsp?username=xiaowulovexia@126.com&url=http://love.163.com/
">
                              <span>退出</span>
                           </a>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div id="newMessagePreview" class="header-info-list header-info-preview-list" data-show="0" style="display: none;">
         <ul>
            <li class="js-message">
               <a href="/messages">
                  <em class="js-item">0</em>
                  <span>查看私信</span>
               </a>
            </li>
            <li class="js-digg">
               <a href="/messages/like">
                  <em class="js-item">0</em>
                  <span>新增“赞”</span>
               </a>
            </li>
            <li class="js-heed">
               <a href="/messages/followers">
                  <em class="js-item">0</em>
                  <span>新增收藏</span>
               </a>
            </li>
            <li class="js-admin">
               <a href="/messages/dm/1398972104992685069">
                  <em class="js-item">0</em>
                  <span>系统通知</span>
               </a>
            </li>
         </ul>
      </div>
      <div class=" content">
         <div class="conL">

            <div class="titleBar">
               <h2>消息中心</h2>
            </div>
            <div id="mainBox" class="mainBox">
               <ul class="noticeList js-itemList">

                  <li data-type="admin" class="notice js-item" data-type="admin" data-user-id="1398972104992685069">
                     <div class="notice-avatar">
                        <img class="avatar" src="http://htimg2.126.net/image?w=70&amp;h=70&amp;url=http%3A%2F%2Fimg5.ph.126.net%2FTimgAFoXmGeoVf11Q-LRJg%3D%3D%2F2530178565669975905.jpg%233&amp;gif=1&amp;quality=85
" />
                     </div>
                     <div class="notice-main">
                        <div class="notice-bd">
                           <div class="notice-content">
                              <h3>
                                 <em class="text-nu">花田小红娘</em>
                                 ：
                              </h3>
                              恭喜，您提交的头像已经通过审核，祝您在花田早日喜结良缘。
                           </div>
                        </div>
                        <div class="notice-ft">
                           <span class="notice-time text-sd">2013-03-02 13:31</span>
                           <a class="notice-reportblock link-gray reportBlock-trigger" data-report-type="2" href="javascript:;">拉黑/举报</a>
                           <div class="notice-info">
                              <a href="/messages/dm/1398972104992685069">共有3条信息</a> <i class="text-sd">|</i>
                              <a class="link-blue mess-trigger" data-nocheckavatar="true" href="javascript:;">回复</a>
                           </div>
                        </div>
                     </div>
                  </li>
               </ul>
               <div class="mainBox-ft js-footer"></div>
            </div>
         </div>
         <div class="conR">
            <div id="selfInfoBox" class="right-module module-selfInfo" data-log="userIntro">
               <div class="module-selfInfo-inner">
                  <div class="module-selfInfo-title">
                     <a href="/5561573" class="module-selfInfo-avatar">
                        <img id="selfBigAvatar" width="70" height="70" src="http://htimg1.126.net/image?w=70&amp;h=70&amp;url=http%3A%2F%2Fimg1.ph.126.net%2FiyndXNoEfsw4-a_b-6HhGw%3D%3D%2F1568097095273029210.jpg%233&amp;gif=1&amp;quality=85
" />
                     </a>
                     <h2> <i></i>
                        <a class="link-mt" data-log="nickname" target="_blank" href="/5561573">蒂蓝</a>
                     </h2>
                  </div>
                  <div id="selfInfo" class="module-selfInfo-setting">
                     <ul>
                        <li>
                           <h3 class="text-md">资料完整度</h3>
                           <a class="link-mt" href="/5561573?info=1#edit=2_3_4" target="_blank">
                              <em class="icon-setting"></em>
                              完善资料
                           </a>
                           <div class="module-selfInfo-integrity">
                              <em class="module-selfInfo-icon-arrow"></em>

                              <div id="integrityScaleBox" class="integrity-dataBox integrity-data-male js-integrityScaleBox">
                                 <div class="integrity-data-animateBox js-animateBox">
                                    <span class="integrity-data-percent"> <b class="js-percentNumber">57</b>
                                       <i>%</i>
                                    </span>
                                    <i class="integrity-data-mask"></i>
                                    <i class="integrity-data-line"></i>
                                    <i class="integrity-data-bg js-percentMark" style="top:43%;"></i>
                                 </div>
                                 <div class="integrity-data-descBox js-descBox">
                                    <div class="integrity-data-desc integrity-desc-status2 js-percentMark js-descPercent" style="top:43%;">
                                       <em></em>
                                       <p> <b class="integrity-desc-status js-desc-text"><span>有待提高</span></b> 
                                       </p>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </li>
                        <li class="module-selfInfo-trend">
                           <h3 class="text-md">我的风采</h3>
                           <a class="link-mt upload-letter-trigger" href="javascript:;">
                              <em class="icon-upload-letter-s"></em>
                           </a>
                           <a class="link-mt upload-photo-trigger" href="javascript:;">
                              <em class="icon-upload-photo-s"></em>
                           </a>
                        </li>
                        <li>
                           <h3 class="text-md">我的缘分</h3>
                           <a class="link-mt" href="/followers" target="_blank">被收藏0</a>
                           <span class="text-sd fR" style="margin:-1px 3px 0;">|</span>
                           <a class="link-mt" href="/following" target="_blank">
                              收藏
                              <em class="js-following-count">0</em>
                           </a>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
            <div class="right-module module-visitors js-module" data-log="visitor">
               <div class="right-module-hd">
                  <h3 class="text-st">最近来访</h3>
               </div>
               <div class="right-module-bd">
                  <ul id="visitorList" class="module-user-list clearfix"></ul>
               </div>
            </div>
            <div class="right-module module-video">
               <a href="/intro" target="_blank">
                  <img src="http://img2.cache.netease.com/love/image/project/tips/video_goodnight.jpg" alt="找到那个人和你说晚安" title="找到那个人和你说晚安"/>
               </a>
            </div>
            <div class="right-module module-appDownload">
               <a href="/app" target="_blank">
                  <img src="http://img2.cache.netease.com/love/image/project/tips/app_download_v130314.jpg" alt="iPhone Android客户端下载" title="iPhone Android客户端下载"/>
               </a>
            </div>
            <div class="right-module module-userGuide">
               <a href="/guide" target="_blank">
                  <img src="http://img3.cache.netease.com/love/image/project/guide/target.jpg" alt="花田新手上路" title="花田新手上路"/>
               </a>
               <div class="module-userGuide-foot">
                  <h4 class="text-dark-gray">关注花田</h4>
                  <a class="module-userGuide-sina" href="http://weibo.com/ihuatian" target="_blank">
                     <em class="icon-sina"></em>
                     新浪微博
                  </a>
                  <a  class="module-userGuide-netease" href="http://t.163.com/ihuatian" target="_blank">
                     <em class="icon-netease"></em>
                     网易微博
                  </a>
               </div>
            </div>
         </div>
      </div>
      <div class="footer">
         <div class="foot">
            <a href="http://gb.corp.163.com/gb/about/overview.html" target="_blank">公司简介</a>
            -
            <a href="http://gb.corp.163.com/gb/contactus.html" target="_blank">联系方法</a>
            -
            <a href="http://corp.163.com/gb/job/job.html" target="_blank">招聘信息</a>
            -
            <a href="/protocol" target="_blank">使用条款</a>
            -
            <a href="http://sitemap.163.com/" target="_blank">网站地图</a>
            -
            <a href="http://post.news.163.com/msg/jubao.jsp" target="_blank">不良信息举报</a>
            <br />
            网易公司版权所有
            <br />
            <span class="cRed">&copy;1997-2013</span>
         </div>
      </div>

   </div>
   <div id="scrollBar" class="scrollBar">
      <a class="scrollBar-toTop js-top" hidefocus="true" href="javascript:;">
         <em class="icon-toTop" title="返回顶部"></em>
      </a>
      <a class="scrollBar-toBottom js-bottom" hidefocus="true" href="javascript:;">
         <em class="icon-toBottom" title="返回底部"></em>
      </a>
   </div>
   <div id="jsData">
   </div>
   <script type="text/javascript" src="http://img2.cache.netease.com/love/cssjs/514006/script/page/common.js"></script>
   <script type="text/javascript" data-main="page/notice" src="http://img2.cache.netease.com/love/cssjs/514006/script/page/notice.js"></script>

   <script type="text/javascript">
(function() {
   _ntes_nacc = "love";
   var scriptElem = document.createElement('script');
   scriptElem.type = 'text/javascript';
   if (scriptElem.readyState) {
      scriptElem.onreadystatechange = function() {
         if (scriptElem.readyState === 'loaded' ||scriptElem.readyState === 'complete') {
            scriptElem.onreadystatechange = null;
            neteaseTracker();
            neteaseClickStat();
         }
      };
   } else {
      scriptElem.onload = function() {
         neteaseTracker();
         neteaseClickStat();
         scriptElem.onload = null;
      };
   }
   scriptElem.src = 'http://analytics.163.com/ntes.js';
   document.documentElement.firstChild.appendChild(scriptElem);
})();
</script>
</body>
</html>