<!DOCTYPE html>
<html lang="en">
  {% include '/common/head.html' %}
  <body>
  	{% include '/common/top.html' %}
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="span8">
          <div class="conl basediv">
            <h2><a href="">本机定时自动更新svn</a></h2>
            <p>背景
              因为本机是linux系统,在小组开发的时候作为了测试服务器,经常忘记更新svn,影响了其它小组成员测试.于是写了一个每5分钟自动更新的脚本.
              过程
              首先创立一个log目录,用于存放日记文件
            </p>
            <p><a class="btn" href="#">View details &raquo;</a></p>

          </div>  
       </div>
        <div class="span4">
          <div class="conr basediv">
            <h2>Heading</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p><a class="btn" href="#">View details &raquo;</a></p>
          </div>

          <div class="conr basediv">
            <h4>Heading</h4>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p><a class="btn" href="#">View details &raquo;</a></p>
          </div>

          <div class="conr basediv">
            <h2>Heading</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p><a class="btn" href="#">View details &raquo;</a></p>
          </div>

        </div>
      </div>
      <hr>
    </div> <!-- /container -->
    <footer>
	    <div class="container">
			<p>&copy; Company 2013</p>
	    </div>
    </footer>    
  </body>
</html>
