<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <title></title>
  <link href="/static/main.css" media="screen" rel="stylesheet" type="text/css">
  <script type="text/javascript" async="" src="./Bootstrap Templates   ThemeForest_files/wtid.js"></script>
</head>
<body>
{% include '/common/head.html' %}
{% include '/common/nav.html' %}
  <div id="content">
    <div class="container">
      <div class="content-l">
        <div class="collection-header">
          <div class="collection-info">
            <h1>Python基本安装</h1>
            This collection of&nbsp; <strong><a href="http://themeforest.net/browse/attributes/compatible_with/bootstrap_2.2.1">Bootstrap Templates</a></strong> 
            from ThemeForest maintain native Bootstrap functionality, while also providing extra functionality to give each Bootstrap Template it’s own creative and professional style.
            <p>
              Our <strong><a href="http://themeforest.net/collections/2712342-bootstrap-templates">Bootstrap Templates</a>
                &nbsp;</strong> 
              are beautiful, high quality, and super easy to modify. What’s more, our Bootstrap Templates are flexible and support the popular flow of&nbsp;responsive design, allowing for multiple&nbsp;layout options to fit all popular screen resolutions.
            </p>

            <p>
              <strong>Nerd Fun Fact:</strong> <em>Bootstrap is a front-end toolkit for rapidly developing web applications and is built with
                <strong>Less</strong>
                , a flexible pre-processor offering more power than traditional CSS (variables, nested declarations, mix-ins, operations, and color functions).</em> 
            </p>
            &nbsp;
            <h2>Sellya – Responsive Bootstrap Template for OpenCart</h2>
            <a href="http://themeforest.net/item/sellya-responsive-opencart-theme/3431353">
              <img src="http://all-marketplaces.s3.amazonaws.com/collections/themeforest/bootstrap-templates/Sellya-Responsive-OpenCart-Bootstrap-template.jpg" alt="Sellya - Responsive OpenCart Template built with Bootstrap" title="Sellya - Responsive OpenCart Template built with Bootstrap"></a>

            <p>
              <a href="http://themeforest.net/item/sellya-responsive-opencart-theme/3431353">
                <img src="http://all-marketplaces.s3.amazonaws.com/collections/All/download-item.png" alt="Download Sellya - Responsive Bootstrap Template for OpenCart" title="Download Sellya - Responsive Bootstrap Template for OpenCart"></a>
              <a href="http://themeforest.net/item/sellya-responsive-opencart-theme/full_screen_preview/3431353">
                <img src="http://all-marketplaces.s3.amazonaws.com/collections/All/view-demo.png" alt="Demo Sellya - Responsive Bootstrap Template for OpenCart" title="Demo Sellya - Responsive Bootstrap Template for OpenCart"></a>
            </p>

            <p>
              Sellya is a fully responsive OpenCart theme for any store, it uses Bootstrap and it’s created by using the latest HTML5 and CSS3 features.&nbsp; <b>Admin panel with 300+ custom build options</b>
              &nbsp;allows you to do extreme customizations without knowing any HTML or CSS. You can change over 130 colors, apply 275 background patterns of 8 areas or upload your own, choosing over 500+ fonts and very many theme settings. And because this is a Bootstrap Template, it looks great on desktops, tablets and mobiles.
            </p>
            &nbsp;
            <h2>BUILDER – Responsive Multi-Purpose Bootstrap Template</h2>
            <a href="http://themeforest.net/item/builder-responsive-multipurpose-theme/3596009">
              <img src="http://all-marketplaces.s3.amazonaws.com/collections/themeforest/bootstrap-templates/BUILDER-Responsive-MultiPurpose-Bootstrap-Template.jpg" alt="BUILDER - Responsive MultiPurpose Bootstrap Template" title="BUILDER - Responsive MultiPurpose Bootstrap Template"></a>

            <p>
              <a href="http://themeforest.net/item/builder-responsive-multipurpose-theme/3596009">
                <img src="http://all-marketplaces.s3.amazonaws.com/collections/All/download-item.png" alt="Download BUILDER - Responsive Multi-Purpose Bootstrap Template" title="Download BUILDER - Responsive Multi-Purpose Bootstrap Template"></a>
              <a href="http://themeforest.net/item/builder-responsive-multipurpose-theme/full_screen_preview/3596009">
                <img src="http://all-marketplaces.s3.amazonaws.com/collections/All/view-demo.png" alt="Demo BUILDER - Responsive Multi-Purpose Bootstrap Template" title="Demo BUILDER - Responsive Multi-Purpose Bootstrap Template"></a>
            </p>

            <p>
              A Powerful Bootstrap Template for WordPress designed in a clean and minimalistic style. &nbsp;This theme is very flexible, easy for customizing and well documented, approaches for personal and professional use. &nbsp;BUILDER has been coded in HTML5 &amp; CSS3 and jQuery. It has a solid flexible responsive layout that scales from 320px to 1260px width all&nbsp;Bootstrap&nbsp;features.
            </p>
            &nbsp;
            <h2>
              Sellegance – Responsive, Clean Bootstrap Template for OpenCart
            </h2>
            <a href="http://themeforest.net/item/sellegance-responsive-and-clean-opencart-theme/1285060">
              <img src="http://all-marketplaces.s3.amazonaws.com/collections/themeforest/bootstrap-templates/Sellegance-Responsive-and-Clean-OpenCart-Bootstrap-Template.jpg" alt="Sellegance - Responsive and Clean Bootstrap Template built for OpenCart " title="Sellegance - Responsive and Clean Bootstrap Template built for OpenCart "></a>

            <p>
              <a href="http://themeforest.net/item/sellegance-responsive-and-clean-opencart-theme/1285060">
                <img src="http://all-marketplaces.s3.amazonaws.com/collections/All/download-item.png" alt="Download Sellegance - Responsive and Clean Bootstrap Template for OpenCart" title="Download Sellegance - Responsive and Clean Bootstrap Template for OpenCart"></a>
              <a href="http://themeforest.net/item/sellegance-responsive-and-clean-opencart-theme/full_screen_preview/1285060">
                <img src="http://all-marketplaces.s3.amazonaws.com/collections/All/view-demo.png" alt="Demo Sellegance - Responsive and Clean Bootstrap Template for OpenCart" title="Demo Sellegance - Responsive and Clean Bootstrap Template for OpenCart"></a>
            </p>

            <p>
              Sellegance is a responsive, elegant and easy to install Bootstrap template for OpenCart. Choose your own colors and upload custom backgrounds directly from the admin panel. With its&nbsp;clean design and lots of features, you will have a very profitable online shop in no time.
            </p>

            <p>
              It’s&nbsp;perfect for any kind of web shop. Its superb UI delivers the ultimate experience for end users. It has been built with mobile users in mind. So it&nbsp;looks great on desktops, tablets and mobiles.
            </p>
            &nbsp;
            <h2>Supr – Responsive Admin Template</h2>
            <a href="http://themeforest.net/item/supr-responsive-admin-template/2834580">
              <img src="http://all-marketplaces.s3.amazonaws.com/collections/themeforest/bootstrap-templates/Supr-Responsive-Admin-Bootstrap-Template.jpg" alt="Supr - Responsive Admin Bootstrap Template" title="Supr - Responsive Admin Bootstrap Template"></a>

            <p>
              <a href="http://themeforest.net/item/supr-responsive-admin-template/2834580">
                <img src="http://all-marketplaces.s3.amazonaws.com/collections/All/download-item.png" alt="Download Supr - Responsive Admin Bootstrap Template" title="Download Supr - Responsive Admin Bootstrap Template"></a>
              <a href="http://themeforest.net/item/supr-responsive-admin-template/full_screen_preview/2834580">
                <img src="http://all-marketplaces.s3.amazonaws.com/collections/All/view-demo.png" alt="Demo Supr - Responsive Admin Bootstrap Template" title="Demo Supr - Responsive Admin Bootstrap Template"></a>
            </p>

            <p>
              Supr is a full admin skin based on popular Twitter Bootstrap framework. This Bootstrap Template is designed to help you build the site administration without losing valuable time. This template contains all the important functions which one must have on a backend system.
            </p>
            <p>&nbsp;</p>
            <p>
              You may also be interested in this awesome collection of
              <a href="http://codecanyon.net/collections/2659381-bootstrap-skins">Bootstrap Skins</a>
              from CodeCanyon.net
            </p>
          </div>
        </div>
        <hr>
        <script>
      marketplace.queue(function(){
        $(".remove-button").each(function () {
          $(this).displayButtonAsLink({
            "class": "x-button",
            "title": "Remove item from this collection"
          });
        });
      });
    </script>

        <div class="pagination">
          <span class="previous_page disabled">Prev</span> <em class="current">1</em>
          <a rel="next" href="http://themeforest.net/collections/2712342-bootstrap-templates?WT.mc_id=GT-TF-bootstrap-templates&page=2">2</a>
          <a href="http://themeforest.net/collections/2712342-bootstrap-templates?WT.mc_id=GT-TF-bootstrap-templates&page=3">3</a>
          <a href="http://themeforest.net/collections/2712342-bootstrap-templates?WT.mc_id=GT-TF-bootstrap-templates&page=4">4</a>
          <a class="next_page" rel="next" href="http://themeforest.net/collections/2712342-bootstrap-templates?WT.mc_id=GT-TF-bootstrap-templates&page=2">Next</a>
        </div>
      </div>

      <div class="sidebar-s sidebar-right">
        <div class="img-border img-max">
          <img alt="Bootstrap Templates" src="./Bootstrap Templates   ThemeForest_files/collectionbootstrap-templates.jpg"></div>

        <h2 class="box-heading">Collection Owner</h2>
        <div class="content-box about-author">

          <div class="avatar-wrapper">
            <a href="http://themeforest.net/user/JoshuaSprague" class="avatar" title="JoshuaSprague">
              <img alt="JoshuaSprague" class="" height="80" src="./Bootstrap Templates   ThemeForest_files/josh-sprague-thumb.jpg" width="80"></a>

          </div>

          <strong class="author">JoshuaSprague</strong>
          <br>
          <ul class="badges">
            <li class="badge-attended_community_meetup " alt="Attended a Community Meetup" title="Attended a Community Meetup">Attended a Community Meetup</li>
            <li class="badge-bought_between_10_and_49_items " alt="Bought between 10 and 49 items" title="Bought between 10 and 49 items">Bought between 10 and 49 items</li>
            <li class="badge-contributed_blog_post " alt="Contributed a Blog Post" title="Contributed a Blog Post">Contributed a Blog Post</li>
            <li class="badge-envato_staff " alt="Envato Staff" title="Envato Staff">Envato Staff</li>
            <li class="badge-exclusive " alt="Exclusive Author" title="Exclusive Author">Exclusive Author</li>
            <li class="badge-mo_bro " alt="Grew a moustache for the Envato Movember competition" title="Grew a moustache for the Envato Movember competition">Grew a moustache for the Envato Movember competition</li>
            <li class="badge-veteran_1-2 " alt="Has been a member for 1-2 years" title="Has been a member for 1-2 years">Has been a member for 1-2 years</li>
            <li class="badge-super_sheriff " alt="Repeatedly Helped protect Envato Marketplaces against copyright violations" title="Repeatedly Helped protect Envato Marketplaces against copyright violations">
              Repeatedly Helped protect Envato Marketplaces against copyright violations
            </li>
            <li class="badge-site_manager " alt="Site Manager" title="Site Manager">Site Manager</li>
            <li class="badge-country_us " alt="United States" title="United States">United States</li>
          </ul>

        </div>

        <div class="content-box">
          <form accept-charset="UTF-8" action="http://themeforest.net/old_search" class="sidebar-search" method="get">
            <div style="margin:0;padding:0;display:inline">
              <input name="utf8" type="hidden" value="✓"></div>
            <input id="term" name="term" placeholder="Search Collection" type="text" value="">

            <input name="type" type="hidden" value="collection">
            <input name="type_id" type="hidden" value="2712342">

            <button type="submit" class="image-button search no-margin">Search</button>
          </form>
        </div>

      </div>

    </div>
  </div>

  <div id="copyright">
    <div class="container">
      <a class="logo" href="http://envato.com/">Envato</a>
      <div class="copyright">
        <p>
          <span>
            COPYRIGHT © 2013
            <a href="http://envato.com/">ENVATO</a>
          </span>
          |
          <span>
            <a href="http://themeforest.net/legal/user" rel="nofollow">TERMS OF USAGE</a>
          </span>
          |
          <span>
            <a href="http://support.envato.com/">SUPPORT/HELP</a>
          </span>
          |
          <span>
            ICONS BY
            <a href="http://tango.freedesktop.org/" rel="nofollow">TANGO</a>
            +
            <a href="http://wefunction.com/" rel="nofollow">WEFUNCTION</a>
            +
            <a href="http://famfamfam.com/" rel="nofollow">FAMFAMFAM</a>
          </span>
        </p>
        <p class="trademarks">
          Adobe®, Flash®, Flex®, Fireworks®, Photoshop®, Illustrator®, InDesign® and After Effects® are registered trademarks of Adobe Systems Incorporated.
        </p>
      </div>
    </div>
  </div>

  <div id="ajax-feedback" class="ajax-feedback" style="display:none;">
    <span>
      <img alt="Loader" height="22" src="./Bootstrap Templates   ThemeForest_files/loader-a11d821789084113de861b4dd6a31538.gif" width="126">Request processing...</span>
  </div>

  <script src="./Bootstrap Templates   ThemeForest_files/jquery.min.js"></script>
  <script>window.jQuery || document.write("<script src='http://3.envato-static.com/assets/lib/jquery-1.8.1.min-da0866090343e2cef3f789ab7482744a.js'><\/script>")</script>

<div id="tooltip-magnifier" class="magnifier">
  <strong></strong>
  <div class="info">
    <div class="author-category">
      by
      <span class="author"></span>
      <span class="category"></span>
    </div>
    <div class="price">
      <span class="cost"></span>
    </div>
  </div>
</div>
<div id="landscape-image-magnifier" class="magnifier">
  <div class="size-limiter"></div>
  <strong></strong>
  <div class="info">
    <div class="author-category">
      by
      <span class="author"></span>
      <span class="category"></span>
    </div>
    <div class="price">
      <span class="cost"></span>
    </div>
  </div>
</div>
<div id="portrait-image-magnifier" class="magnifier">
  <div class="size-limiter"></div>
  <strong></strong>
  <div class="info">
    <div class="author-category">
      by
      <span class="author"></span>
      <span class="category"></span>
    </div>
    <div class="price">
      <span class="cost"></span>
    </div>
  </div>
</div>
<div id="square-image-magnifier" class="magnifier">
  <div class="size-limiter"></div>
  <strong></strong>
  <div class="info">
    <div class="author-category">
      by
      <span class="author"></span>
      <span class="category"></span>
    </div>
    <div class="price">
      <span class="cost"></span>
    </div>
  </div>
</div>
<div id="smart-image-magnifier" class="magnifier">
  <div class="size-limiter"></div>
  <strong></strong>
  <div class="info">
    <div class="author-category">
      by
      <span class="author"></span>
      <span class="category"></span>
    </div>
    <div class="price">
      <span class="cost"></span>
    </div>
  </div>
</div>

<script>
window.webtrendsAsyncInit=function(){
    var dcs=new Webtrends.dcs().init({
        dcsid:"dcsbkb9azvz5bdcyrezh0wose_5r8l"
        ,domain:"statse.webtrendslive.com"
        ,timezone:10
        ,offsite:true
        ,download:true
        ,downloadtypes:"xls,doc,pdf,txt,csv,zip,docx,xlsx,rar,gzip"
        ,onsitedoms:"themeforest.net"
        ,plugins:{
            hm:{src:"//s.webtrends.com/js/webtrends.hm.js"}
        }
        }).track();
};
marketplace.load("http://0.envato-static.com/assets/webtrends.min-5a2a0b3d9f0eeafea3f60e4831cf4958.js");
</script>
<noscript>
  &lt;img alt="dcsimg" id="dcsimg" width="1" height="1" src="//statse.webtrendslive.com/dcs4nx9hnvz5bd4wo8cwvxpse_5g4u/njs.gif?dcsuri=/nojavascript&amp;amp;WT.js=No&amp;amp;WT.tv=10.2.0&amp;amp;dcssip=www.3docean.net"/&gt;
</noscript>
<!-- END OF SmartSource Data Collector TAG v10.2.0 -->

<script>marketplace.initializers.global();</script>

<!--[if lt IE 7]>
<script src="http://3.envato-static.com/assets/lib/DD_belatedPNG-27285c137194823d2b38f405dd132024.js" type="text/javascript"></script>
<script src="http://2.envato-static.com/assets/utilities/ie6-bf43a1fe705b18ce14da6c1e3ab8f752.js" type="text/javascript"></script>
<![endif]-->

<script>
      marketplace.load("http://envato.s3.amazonaws.com/widget/widget.css");
      marketplace.load("http://envato.s3.amazonaws.com/widget/widget.js");
    </script>

<script type="text/javascript">if (!NREUMQ.f) { NREUMQ.f=function() {
NREUMQ.push(["load",new Date().getTime()]);
var e=document.createElement("script");
e.type="text/javascript";
e.src=(("http:"===document.location.protocol)?"http:":"https:") + "//" +
  "d1ros97qkrwjf5.cloudfront.net/42/eum/rum.js";
document.body.appendChild(e);
if(NREUMQ.a)NREUMQ.a();
};
NREUMQ.a=window.onload;window.onload=NREUMQ.f;
};
NREUMQ.push(["nrfj","beacon-1.newrelic.com","fcf8d519de","13909,1601845,716468","dA4NFkNbVV1URBcGXlsNBgFFXVZfQhlLDV5A",6,403,new Date().getTime(),"","","","",""]);</script>

<div id="fancybox-tmp"></div>
<div id="fancybox-loading">
  <div></div>
</div>
<div id="fancybox-overlay"></div>
<div id="fancybox-wrap">
  <div id="fancybox-outer">
    <div class="fancy-bg" id="fancy-bg-n"></div>
    <div class="fancy-bg" id="fancy-bg-ne"></div>
    <div class="fancy-bg" id="fancy-bg-e"></div>
    <div class="fancy-bg" id="fancy-bg-se"></div>
    <div class="fancy-bg" id="fancy-bg-s"></div>
    <div class="fancy-bg" id="fancy-bg-sw"></div>
    <div class="fancy-bg" id="fancy-bg-w"></div>
    <div class="fancy-bg" id="fancy-bg-nw"></div>
    <div id="fancybox-inner"></div>
    <a id="fancybox-close"></a>
    <a href="javascript:;" id="fancybox-left">
      <span class="fancy-ico" id="fancybox-left-ico"></span>
    </a>
    <a href="javascript:;" id="fancybox-right">
      <span class="fancy-ico" id="fancybox-right-ico"></span>
    </a>
  </div>
</div>
<div class="trans" style="height: 784px; width: 1425px; display: none;"></div>
<iframe name="google_conversion_frame" width="300" height="13" src="./Bootstrap Templates   ThemeForest_files/saved_resource.html" frameborder="0" marginwidth="0" marginheight="0" vspace="0" hspace="0" allowtransparency="true" scrolling="no">
  &lt;img height="1" width="1" border="0" src="http://googleads.g.doubleclick.net/pagead/viewthroughconversion/1065398951/?frame=0&amp;random=1362016728628&amp;cv=7&amp;fst=1362016728628&amp;num=1&amp;fmt=1&amp;label=u-J6CI3SqQMQp-WC_AM&amp;guid=ON&amp;u_h=900&amp;u_w=1440&amp;u_ah=873&amp;u_aw=1440&amp;u_cd=24&amp;u_his=2&amp;u_tz=480&amp;u_java=true&amp;u_nplug=11&amp;u_nmime=50&amp;url=http%3A//themeforest.net/collections/2712342-bootstrap-templates%3FWT.mc_id%3DGT-TF-bootstrap-templates&amp;frm=0" /&gt;
</iframe>
<div id="haloword-lookup" class="ui-widget-content ui-draggable">
  <div id="haloword-title">
    <span id="haloword-word"></span>
    <a herf="#" id="haloword-pron" class="haloword-button" title="发音"></a>
    <audio id="haloword-audio"></audio>
    <div id="haloword-control-container">
      <a href="http://themeforest.net/collections/2712342-bootstrap-templates?WT.mc_id=GT-TF-bootstrap-templates#" id="haloword-open" class="haloword-button" title="查看单词详细释义" target="_blank"></a>
      <a herf="#" id="haloword-close" class="haloword-button" title="关闭查询窗"></a>
    </div>
    <br style="clear: both;"></div>
  <div id="haloword-content"></div>
</div>
<script type="text/javascript" src="./Bootstrap Templates   ThemeForest_files/rum.js"></script>
<script style="display: none;" id="hiddenlpsubmitdiv"></script>
<script>try{for(var lastpass_iter=0; lastpass_iter < document.forms.length; lastpass_iter++){ var lastpass_f = document.forms[lastpass_iter]; if(typeof(lastpass_f.lpsubmitorig2)=="undefined"){ lastpass_f.lpsubmitorig2 = lastpass_f.submit; lastpass_f.submit = function(){ var form=this; var customEvent = document.createEvent("Event"); customEvent.initEvent("lpCustomEvent", true, true); var d = document.getElementById("hiddenlpsubmitdiv"); for(var i = 0; i < document.forms.length; i++){ if(document.forms[i]==form){ d.innerText=i; } } d.dispatchEvent(customEvent); form.lpsubmitorig2(); } } }}catch(e){}</script>
<script type="text/javascript" src="./Bootstrap Templates   ThemeForest_files/fcf8d519de"></script>
</body>
</html>
